html {
    font-family: 'Microsoft Jhenghei', Lantinghei SC, 'lanting', PingFang SC, Seguo UI, Microsoft Yahei, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

input, button,textarea {
    font: inherit;
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

